doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Frostbite
        meta(name='description', content='')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(property='og:image', content='path/to/image.jpg')
        link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
        style.
            @@include('header.min.css')
        script(src='js/load_css.js')
        script.
            loadCSS("css/fonts.min.css?ver=1.0.0", false, "all");
        script.
            loadCSS("header.min.css?ver=1.0.0", false, "all");
        script.
            loadCSS("css/main.min.css?ver=1.0.0", false, "all");
        noscript
            link(rel='stylesheet', href='css/fonts.min.css')
            link(rel='stylesheet', href='css/main.min.css')
        meta(name='theme-color', content='#000')
        meta(name='msapplication-navbutton-color', content='#000')
        meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    body
        header(style='background-image: url(img/desktop_Homepage.jpg)')
            .menu
                .cross
                    img(src='img/icons/cross.png', alt='close')
                .top-menu
                    div
                        .icon-1
                            img(src='img/icons/logo-h.png', alt='our story')
                        p
                            a(href='#team') our story
                    div
                        .icon-2
                            img(src='img/icons/services.png', alt='services')
                        p
                            a(href='#projects') services
                    div
                        .icon-3
                            img(src='img/icons/work.png', alt='work')
                        p
                            a(href='#sect_work') work
                    div
                        .icon-4
                            img(src='img/icons/journal.png', alt='journal')
                        p
                            a(href='#journal') journal
                    div
                        .icon-5
                            img(src='img/icons/contact.png', alt='contact')
                        p
                            a(href='#footer') contact
                nav.low-menu
                    ul.hidens
                        li
                            h4 digital
                        li
                            h4 print
                        li
                            h4 mobile
                        li
                            h4 tablet
                    ul.list1
                        li
                            a(href='#') baxvers
                        li
                            a(href='#') akari sushi
                        li
                            a(href='#') hopkins coffee
                        li
                            a(href='#') bananaboat
                        li
                            a(href='#') eyeywear
                    ul
                        li
                            h4 digital
                        li
                            a(href='#') baxvers
                        li
                            a(href='#') akari sushi
                        li
                            a(href='#') hopkins coffee
                        li
                            a(href='#') bananaboat
                        li
                            a(href='#') eyeywear
                    ul
                        li
                            h4 print
                        li
                            a(href='#') baxvers
                        li
                            a(href='#') akari sushi
                        li
                            a(href='#') hopkins coffee
                        li
                            a(href='#') bananaboat
                        li
                            a(href='#') eyeywear
                    ul
                        li
                            h4 mobile
                        li
                            a(href='#') baxvers
                        li
                            a(href='#') akari sushi
                        li
                            a(href='#') hopkins coffee
                        li
                            a(href='#') bananaboat
                        li
                            a(href='#') eyeywear
                    ul
                        li
                            h4 tablet
                        li
                            a(href='#') baxvers
                        li
                            a(href='#') akari sushi
                        li
                            a(href='#') hopkins coffee
                        li
                            a(href='#') bananaboat
                        li
                            a(href='#') eyeywear
            .container-top
                .top
                    .logo
                        a(href='#')
                            img(src='img/icons/logo-h.png', alt='logo')
                    .right-top
                        .search-field
                            form
                                p.hidden
                                    input.inp(type='search', name='q')
                                    input.search_inp(type='submit', value='Search')
                            .search
                                img(src='img/icons/search.png', alt='search')
                        .sandv-wrap
                            button.nav-trigger
                                span
                ._studio
                    a.studio(href='#') inside our studio
                h1 frostbite
                .arrow
                    a(href='#team')
                        img(src='img/icons/arrow.png', alt='arrow')
        main
            section.sect_about
                .container-fluid.container_custom
                    .wave
                        img(src='img/icons/waves.png', alt='wave')
                    .sect_title
                        h2#team
                            | a team of creatives
                            br
                            |  based out of california
                    .row.reverse_row
                        .wrapper.col-xl-6.col-lg-6.col-md-6
                            .about
                                h3 who we are
                                p
                                    | Nulla faucibus eu dui elementum porttitor.
                                    | Aliquam sollicitudin tjusto sed laoreet tempus. Praesent eleifend non est non bibendum.
                                    | Aliquam sed posuere urna.
                        .picture-2.col-xl-6.col-lg-6.col-md-6.col-sm-12
                            img(src='img/women.jpg', alt='women')
                        .picture-2-sm.col-xl-6.col-lg-6.col-md-6.col-sm-12
                            img(src='img/women.jpg', alt='women')
                    .row
                        .picture-1.col-xl-6.col-lg-6.col-md-6.col-sm-12
                            img(src='img/typing.jpg', alt='typing')
                        .picture-1-sm.col-xl-6.col-lg-6.col-md-6.col-sm-12
                            img(src='img/typing.jpg', alt='typing')
                        .wrapper.col-xl-6.col-lg-6.col-md-6
                            .about
                                h3 what we do
                                p
                                    | Nulla faucibus eu dui elementum porttitor.
                                    | Aliquam sollicitudin tjusto sed laoreet tempus. Praesent eleifend non est non bibendum.
                                    | Aliquam sed posuere urna.
                    .about_story
                        p.about_story_left
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                            | eget commodo risus. Nulla placerat nunc nulla, id porta sapien varius sed. In vel est a dui sodales
                            | varius. In facilisis, risus non maximus scelerisque, mauris massa vehicula tortor, nec vestibulum
                            | ipsum sem et magna. Maecenas in purus ut arcu pellentesque tempus. Curabitur viverra quis ipsum
                            | vitae hendrerit. Aenean nec consequat neque, non euismod sapien. Nullam fringilla justo sed
                            | consequat pellentesque. Praesent egestas porta vestibulum.
                        p.about_story_right
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                            | eget commodo risus. Nulla placerat nunc nulla, id porta sapien varius sed. In vel est a dui sodales
                            | varius. In facilisis, risus non maximus scelerisque, mauris massa vehicula tortor, nec vestibulum
                            | ipsum sem et magna. Maecenas in purus ut arcu pellentesque tempus. Curabitur viverra quis ipsum
                            | vitae hendrerit. Aenean nec consequat neque, non euismod sapien. Nullam fringilla justo sed
                            | consequat pellentesque. Praesent egestas porta vestibulum.
                    .buttons.wrapper
                        a.button(href='#') journal
                        a.button(href='#') our story
            section#projects.sect_projects
                .container-fluid
                    .row
                        .col-lg-12.col-md-12.col-sm-12.col-xs-12
                            .sect_projects_title.sect_title
                                h2 latest projects
                                p
                                    | Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium
                                    | egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
                            .wrapper
                                a.button.button_on_dark(href='#') View projects
                                a.button.button_on_dark.mfp_form(href='#form') Contact
            section#sect_work.sect_work
                .container-fluid
                    .slider_wrapper
                        .slick_slider
                            article.slick_slide_content
                                .slider_pict(style='background-image: url(img/slider_1.jpg);')
                                    .play_icon
                                        img(src='img/icons/play-icon.png', alt='play-icon')
                                .slick_item_descr
                                    h3 Case Studies
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis
                                        | aliquam tristique id sapien. Proin
                                        | ultricies tortor porta, volutpat sapien nec, hendrerit ligula.
                                        | Ut id ipsum eu leo maximus rutrum.
                                    .date_of_post
                                        .clock
                                            img(src='img/icons/clock.png', alt='clock')
                                        span.date_of_post 4 hours ago - by Andrew B.
                            article.slick_slide_content
                                .slider_pict(style='background-image: url(img/slider_2.jpg);')
                                    .play_icon
                                        img(src='img/icons/play-icon.png', alt='play-icon')
                                .slick_item_descr
                                    h3 Case Studies
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur
                                        | adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin
                                        | ultricies tortor porta, volutpat sapien nec, hendrerit ligula.
                                        | Ut id ipsum eu leo maximus rutrum.
                                    .date_of_post
                                        .clock
                                            img(src='img/icons/clock.png', alt='clock')
                                        span.date_of_post 4 hours ago - by Andrew B.
                            article.slick_slide_content
                                .slider_pict(style='background-image: url(img/slider_1.jpg);')
                                    .play_icon
                                        img(src='img/icons/play-icon.png', alt='play-icon')
                                .slick_item_descr
                                    h3 Case Studies
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur
                                        | adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin
                                        | ultricies tortor porta, volutpat sapien nec, hendrerit ligula.
                                        | Ut id ipsum eu leo maximus rutrum.
                                    .date_of_post
                                        .clock
                                            img(src='img/icons/clock.png', alt='clock')
                                        span.date_of_post 4 hours ago - by Andrew B.
            div#journal.sect_journal
                .sect_journal_right_image
                    .sect_journal_picture(style='background-image: url(img/journal_team.jpg);')
                .container-fluid.container_custom
                    .row
                        .col-lg-6.col-md-5.col-sm-12.col-xl-4
                            article.wrapper
                                .sect_journal_descr
                                    h2 Our Journal
                                    p
                                        | Aliquam sed posuere urna, et gravida nisl. Praesent
                                        | interdum nisl libero, pretium egestas purus eleifend
                                        | vitae. Mauris suscipit vel lectus at luctus.
                                    a.button(href='#') Read more
            section#our_team.sect_team
                .container-fluid.container_custom
                    .sect_title
                        h2 Our team
                    .row.sect_team_cards
                        .sect_team_item.col-xl-4.col-md-6.col-sm-12.col-12
                            a.mfp_picture(href='#picture_team')
                                .sect_team_picture(style='background-image: url(img/team_1.jpg);')
                            h4.sect_team_name Adam Smith
                            p.sect_team_career CEO, Brand director
                            p.sect_team_descr
                                | Lorem ipsum dolor sit amet, consectetur
                                | adipiscing elit. Donec vitae enim sollicitudin,
                                | suscipit enim nec, scelerisque erat.
                            .sect_team_socials
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-facebook
                        .sect_team_item.col-xl-4.col-md-6.col-sm-12.col-12
                            a.mfp_picture(href='#picture_team')
                                .sect_team_picture(style='background-image: url(img/team_2.jpg);')
                            h4.sect_team_name Eric Johnson
                            p.sect_team_career CEO, Brand director
                            p.sect_team_descr
                                | Lorem ipsum dolor sit amet, consectetur
                                | adipiscing elit. Donec vitae enim sollicitudin,
                                | suscipit enim nec, scelerisque erat.
                            .sect_team_socials
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-facebook
                        .sect_team_item.col-xl-4.col-md-6.col-sm-12.col-12
                            a.mfp_picture(href='#picture_team')
                                .sect_team_picture(style='background-image: url(img/team_3.jpg);')
                            h4.sect_team_name Cecelia Hines
                            p.sect_team_career CEO, Brand director
                            p.sect_team_descr
                                | Lorem ipsum dolor sit amet, consectetur
                                | adipiscing elit. Donec vitae enim sollicitudin,
                                | suscipit enim nec, scelerisque erat.
                            .sect_team_socials
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-facebook
                        .sect_team_item.col-xl-4.col-md-6.col-sm-12.col-12
                            a.mfp_picture(href='#picture_team')
                                .sect_team_picture(style='background-image: url(img/team_4.jpg);')
                            h4.sect_team_name Ben Ferguson
                            p.sect_team_career CEO, Brand director
                            p.sect_team_descr
                                | Lorem ipsum dolor sit amet, consectetur
                                | adipiscing elit. Donec vitae enim sollicitudin,
                                | suscipit enim nec, scelerisque erat.
                            .sect_team_socials
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-facebook
                        .sect_team_item.col-xl-4.col-md-6.col-sm-12.col-12
                            a.mfp_picture(href='#picture_team')
                                .sect_team_picture(style='background-image: url(img/team_5.jpg);')
                            h4.sect_team_name Judy Davis
                            p.sect_team_career CEO, Brand director
                            p.sect_team_descr
                                | Lorem ipsum dolor sit amet, consectetur
                                | adipiscing elit. Donec vitae enim sollicitudin,
                                | suscipit enim nec, scelerisque erat.
                            .sect_team_socials
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-facebook
                        .sect_team_item.col-xl-4.col-md-6.col-sm-12.col-12
                            a.mfp_picture(href='#picture_team')
                                .sect_team_picture(style='background-image: url(img/team_6.jpg);')
                            h4.sect_team_name Thomas Peterson
                            p.sect_team_career CEO, Brand director
                            p.sect_team_descr
                                | Lorem ipsum dolor sit amet, consectetur
                                | adipiscing elit. Donec vitae enim sollicitudin,
                                | suscipit enim nec, scelerisque erat.
                            .sect_team_socials
                                a(href='#')
                                    i.fa.fa-twitter
                                a(href='#')
                                    i.fa.fa-facebook
                .container_custom
                    .partners_slider
                        div
                            .icon
                                img(src='img/icons/slack.png', alt='partners')
                        div
                            .icon
                                img(src='img/icons/google.png', alt='partners')
                        div
                            .icon
                                img(src='img/icons/facebook.png', alt='partners')
                        div
                            .icon
                                img(src='img/icons/shopify.png', alt='partners')
                        div
                            .icon
                                img(src='img/icons/nike.png', alt='partners')
                        div
                            .icon
                                img(src='img/icons/google.png', alt='partners')
        footer#footer
            .container-fluid.container_custom
                .wrapper
                    a(href='#')
                        .logo
                            img(src='img/icons/logo.png', alt='logo')
                    ul.footer_links
                        li
                            a(href='#') Our Team
                        li
                            a(href='#') Contact Us
                        li
                            a(href='#') Support
                        li
                            a(href='#') Blog
                    ul.footer_links
                        li
                            a(href='#') Exclusive Offers
                        li
                            a(href='#') Licensing
                        li
                            a(href='#') Privacy Policy
                        li
                            a(href='#') Refund Policy
                    ul.socials_footer_lg
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                    form
                        h3 Join our newsletter
                        p Join up and get notified about new products, updates and special offers.
                        .foot_form_wrapper
                            label.form_label(for='email')
                                input#email(name='email', type='email', placeholder='Enter your email')
                            button(type='submit')
                                img(src='img/icons/arr.png', alt='arrow')
                    ul.socials_footer_md.col-sm-12
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
        .hidden
            #picture_team
            form#form(action='#')
                h4 REQUEST A CALL BACK
                span.paragraf Fill the fields
                p
                    label
                        i.fa.fa-user-o(aria-hidden='true')
                        input.input(type='text', name='name', placeholder='Name')
                p
                    label
                        i.fa.fa-phone(aria-hidden='true')
                        input.input(type='tel', name='phone', placeholder='Number')
                p
                    button.button CALL BACK
        // Optimized loading JS Start
        script(src='js/load_js.js')
